@tailwind base;
@tailwind components;
@tailwind utilities;

 

/* 
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 10s infinite both;
	        animation: slide-fwd-center 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 10s infinite both;
}


@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
   */


  
